@font-face {
  font-family: "Sevillana", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Sevillana&display=swap");
}
.line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.2rem;
  background-color: #000;
  animation: line-run 2s linear infinite;
  opacity: 0;
  border-radius: 1rem;
}
@keyframes line-run {
  0% {
    width: 0;
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

body {
  font-family: "Short Stack", cursive;
  background-color: #f5f5f5;
}
main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  justify-content: center;
}

.left {
  background-color: black;
  height: 90vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 20px;

  align-items: center;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  margin: 10px;
}

.profile-img {
  width: 65%;
  height: 100%;
}
.profile img {
  width: 100%;
  border-radius: 50%;
}
.profile p {
  font-size: 1.4rem;
  font-weight: 250;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}
.setting a i {
  display: none;
}
.nav {
  display: flex;
  padding-right: 1.5rem;
  margin: 0rem 0 2rem 1.5rem;
  color: white;
}

.nav:hover {
  color: gold;
}
.nav > a {
  padding-left: 1.5rem;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: white;

  /* margin-bottom: 2rem; */
}
.nav > a:hover {
  color: lightgray;
}

/* Right section starts */
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header > h1 {
  margin-left: 4rem;
  margin-top: 2rem;

  font-size: 3vw;
  font-weight: 700px;
}
.header > input {
  margin-right: 5rem;
  width: 20vw;
  height: 2rem;
  margin-top: 0;
  border-radius: 2rem;
  padding: 0.5rem;

  border: 0px solid white;
  background-color: white;
}

input:focus {
  outline: 2px solid green;
}

/* board section started */

#board {
  width: 85%;
  border-radius: 25px;
  background-color: white;
  margin-left: 2rem;
  padding: 2rem;
  margin: auto 0px;
}
#board img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Dash board data css started */
#data {
  width: 100%;
}
#data > h2 {
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
  transition: all 1s ease;
}

#users > h2:hover,
#data > h2:hover {
  font-size: 200%;
  text-decoration: underline rgb(150, 137, 64);

  transform: scale(1.2);
  font-weight: 400;
}
.card-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  font-family: "Sevillana", cursive;
  font-weight: bolder;
  padding: 3%;
}
.card {
  height: 100px;
  width: 180px;
  border-radius: 20px;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
.card:hover {
  background-color: black;
  color: white;
  transform: scale(1.3);
  cursor: pointer;
}
.card1 {
  background: lightblue;
}

.card2 {
  background-color: rgb(252, 176, 249);
}
.card3 {
  background-color: rgb(245, 175, 175);
}
.card4 {
  background-color: rgb(192, 186, 186);
}
.card > i {
  margin-left: 150px;
  margin-top: 20px;
}
.card-head {
  margin: 0px;
  margin-left: 10px;
  font-size: 18px;
}
.card-data {
  margin-top: 4px;
  font-size: 16px;
  margin-left: 10px;
}

/* User Table css Starts  */

#users h2 {
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
  transition: all 1s ease;
}
#users {
  margin: auto 0px;
  width: 100%;
}

#users table {
  width: 95%;
  border-collapse: collapse;
  border-radius: 20px;
  background-color: white;
  overflow-x: auto;
}
table th,
table td {
  padding: 2% 5%;
  text-align: center;
}
table th {
  background-color: #a39696;
  font-weight: 600;
}
table tbody tr:nth-child(even) {
  background-color: #d0cbcb;
}
table tbody tr:hover {
  background-color: #eaeaea;
}

/* schedule css start  */
#schedule {
  width: 100%;
  background-color: white;
  border-radius: 30px;
  height: 450px;
  margin-top: 80px;
  overflow-y: scroll;
  max-height: 400px;
  margin-left: 70px;
  margin: auto 0;
}
.schedule-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
.schedule-head > h3 {
  margin-left: 20px;
  font-weight: 600;
  font-size: 25px;
  margin-top: 0;
  padding-top: 0;
}
.schedule-head p {
  margin-right: 20px;
  font-weight: 400;
  font-size: 15px;
  margin-top: 0;
}
.meet {
  margin-top: 0;
  margin-bottom: 1px;
  margin-left: 10px;
}
.head {
  font-size: 20px;
  font-weight: 600;
}
.details {
  font-size: 16px;
  font-weight: 400;
  color: #999999;
}
.schedule-details div {
  border-left: 2px solid green;
}
.schedule-details div:nth-child(odd) {
  margin-left: 20px;
  margin-bottom: 10px;
  border-left: 3px solid rgb(45, 172, 45);
  padding: 3px;
}
.schedule-details div:nth-child(even) {
  margin-left: 20px;
  margin-bottom: 10px;
  border-left: 3px solid rgb(113, 113, 226);
  padding: 3px;
}

.schedule-details p {
  text-transform: uppercase;
}

.contact-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 20px 0px 20px 20px;
  justify-content: space-between;
}
#contact h2 {
  text-align: center;
  grid-column: 1 / span 2;
  font-size: 24px;
  font-weight: bolder;
  text-decoration: underline;
  margin-bottom: 20px;
}
iframe {
  /* align-self: auto; */
  border-radius: 30px;
}

.feedback-form {
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  transition: all 0.5s ease;
}
.feedback-form:focus {
  background-color: black;
  color: white;
  border: 2px solid #ccc;
}
.feedback-form h2 {
  margin: 0px 20px;
  font-size: 24px;
}
.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.feedback-form textarea {
  resize: vertical;
  height: 150px;
}
.feedback-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #9bdd7c;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: #635656;
  color: white;
  padding: 20px 0px;
  text-align: center;
  border-radius: 20px;
  transform: scale(1);
  transition: all 0.5s ease-out;
}
footer:hover {
  background-color: black;
  color: white;
}
footer div {
  margin-bottom: 10px;
}
footer a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
}
footer a:hover {
  color: lightgray;
}
footer a:first-child {
  margin-left: 0;
}
footer a:last-child {
  margin-right: 0;
}
footer:last-child {
  text-transform: uppercase;
}
@media screen and (max-width: 780px) {
  .header > input {
    width: 200px;
    margin: auto 0px;
    height: 1rem;
  }
  .header > h1 {
    /* margin-left: 3rem;
  margin-top: 2rem; */
    font-size: 4vw;
    font-weight: 700px;
  }
  main {
    display: block;
  }
  .left {
    position: static;
    height: auto;
  }
  .profile-img {
    width: 72px;
    height: 82px;
    position: absolute;
    top: 0.2rem;
  }
  .profile p {
    margin-top: 4rem;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: center;
  }
  .nav {
    margin: 0px;
    padding: 0;
    margin-bottom: 1rem;
  }
  .navbar i {
    display: none;
  }
  .contact-inner {
    display: block;
    align-items: center;
  }
  iframe {
    height: 20rem;
    width: 100%;
  }
  .feedback-form {
    margin-top: 2rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .header {
    width: 100%;
    display: block;
    text-align: center;
  }
  @keyframes line-run {
    0% {
    }
  }

  .header h1 {
    margin: auto 0;
    margin: 1rem;
  }

  .left {
    flex-direction: row;
    justify-content: space-between;
  }
  .profile-img {
    width: 62px;
    height: 72px;
  }

  .profile p {
    margin-left: 1rem;
    margin-top: 3rem;
  }
  .nav {
    display: none;
  }
  .setting a i {
    display: block;
    color: white;
    margin-right: 1rem;
    font-size: 2rem;
  }
  .card-container {
    justify-content: center;
  }
  .card {
    width: 50%;
    height: 100%;
  }
  .contact-inner {
    margin: auto 0px;
  }
  table {
    border: 1px solid #ccc;
  }
  .card {
    width: 65%;
  }
}
